*{
   
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
}

.navbar-container{
    display: flex;
    align-items: center;
    margin-left: 100px;
    padding: 20px;
    
}

span{
    
    position: relative;
    top: 4px;
    left: 4px;
   
}

.logo-link i {
     font-size: 30px ;
     color: rgb(122, 25, 225);
     padding: 2px;
     margin: 2px;
}

.logo-link span{
      font-size: 28px;
      color: rgb(122, 25, 225);
      font-weight: 900;
}

a{  
    text-decoration: none;
    align-items: center;

}
ul{ 
    display: flex;
    position:relative;
    left: 30px;
    top: 3px;
   

}
ul li{
    color: black;
    margin: 20px;
    list-style: none;
    font-weight: 500;
}
ul li i{
    margin-left: 10px;
    font-size: small;
   
}
ul li a:hover{
    color: blueviolet;
}

.Drop-down{
    position:relative;
}

.Drop-down-list{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:yellow;
    padding: 10px;
    border: 2px solid black;
    border-radius: 6px;
    min-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.Drop-down:hover .Drop-down-list{
    display: block;
  }

.fa-solid {
    margin-left: 5px;
    transition: transform 0.3s ease; /* Smooth rotation */
  }
  

.Drop-down:hover .fa-solid{
    transform: rotate(-180deg);
}


/* main content css */

.Upper-part{
   
    text-align: center;
   
}

.Upper-part span{
    position: relative;
    top: 0px;
    left: 10px;
    font-weight: 800;
    
}
.Upper-part h1{
    
    font-size: 4rem;
    font-weight: 500;
}
.Upper-part button{
                             /* Set the height of the button */
        font-size: 1.2rem;  
        font-weight: 545.6;   /* Adjust the text size */
        background-color: #0052cc; /* Button color */
        color: white;          /* Text color */
        border-radius: 28px;    /* Optional: Rounded corners */
        border: none;          /* Remove default border */
        cursor: pointer;  
        margin: 30px;     /* Change cursor to pointer when hovering */
}
/* CSS to target the Material-UI button */
.MuiButton-contained:hover {
    background-color: #003a99 !important;  /* Darker background on hover */
      /* Change text color on hover */
  }
  